<div class="body">
    <!-- <div class="top">
        <app-top></app-top>
    </div> -->
    <div class="parent">
        <div class="left">
            <div class="header" style="height: 66px;border-right: 2px solid rgb(190, 190, 190);">
                <div class="chatHead">
                    <img src="/assets/images/Account circle.png" height="50" width="50">
                </div>
                <div class="chatOptions" style="position: relative;">
                    <img src="/assets/images/Chat.png" height="25" width="25">
                    <img src="/assets/images/More vert.png" height="25" width="25" (click)="chatOptions('app')">
                </div>
            </div>
            <div class="namesSearch">
                <input type="text" placeholder="Search or Start new chat" (input)="FilterNames($event)">
            </div>
            <div class="names" [ngStyle]="{'justify-content':blank ? 'center' : '','align-items':blank ? 'center' : ''}">
                <div class="username" *ngFor="let data of names" [ngStyle]="{'background-color':selected.name==data.name ? 'rgb(214,214,214)' : '','opacity':selected.name==data.name ? '0.9' : ''}" (click)="nameClick(data)">
                    <div class="singleLeft" #singleLeft>

                        <img src="/assets/images/Account circle.png" height="50" width="50">
                        <span  class="singleName" [ngStyle]="{'height':data.messageList.length>0 ? '100%' : ''}">
                            {{data.name}}
                            <span class="lastMessage" *ngIf="data.messageList.length>0 || data.typing" [ngStyle]="{'width':singleLeft.clientWidth-100+'px','color':data.typing ? 'green' : ''}">{{data.typing ? 'typing...' : data.messageList[data.messageList.length-1]?.message}}</span>
                        </span>
                    </div>
                    <div class="singleRight">
                        <span style="font-size:15px;color:rgb(155, 155, 155);">{{data.lastMessage}}</span>
                    </div>
                    
                </div>
                <span *ngIf="blank"><img src="/assets/images/abey-saale.jpg" style="max-width: 500px;width: 100%;height: auto;"></span>
            </div>
        </div>
        <div class="right">
            <div class="header">
                <div class="leftName">
                    <div class="profilePhoto"><img src="/assets/images/Account circle.png" height="50" width="50"></div>
                    <div class="userName">{{selected.name}}</div>
                </div>
                <div class="rightOptions">
                    <!-- <div class="videoCall"></div> -->
                    <div class="call"><img src="/assets/images/Attach file.png" height="25" width="25"></div>
                    <div class="more"><img src="/assets/images/More vert.png" height="25" width="25" (click)="chatOptions('single')"></div>
                </div>
            </div>
            <div class="messages" #messages>
                <div class="date"><span>{{date}}</span></div>
                <div class="message" *ngFor="let data of selected.messageList" [ngStyle]="{'max-width': (messages.clientWidth/2+50) + 'px', 'width':'fit-content'}">
                    <span class="messageText">{{data.message}}</span>
                </div>
            </div>
            <div class="bottom">
                <div class="emojiIcon">
                    <img src="/assets/images/Emoji emotions.png" height="35" width="35" (click)="emojiBoxToggle();">
                    <!-- <textarea placeholder="Type a message" type="text" name="textarea" [(ngModel)]="textArea"></textarea> -->
<emoji-mart class="emoji-mart" *ngIf="isEmojiPickerVisible" (emojiSelect)="addEmoji($event)" title="Choose your emoji"></emoji-mart>
                </div>
                <div class="input">
                    <form [formGroup]="inputForm">

                        <input type="text" id="inputBox" formControlName="message" placeholder="Enter your message here" (input)="messageInput($event)" (keydown)="keyEnter($event)">
                    </form>
                </div>
                <div class="sendIcon">
                    <img src="/assets/images/grayMic.png" *ngIf="inputForm.invalid" height="35" width="35">
                    <img src="/assets/images/graySend.png" height="35" *ngIf="inputForm.valid" width="35" (click)="send()" >
                </div>
            </div>
        </div>
    </div>
</div>