.navbar{
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    // padding: 20px;
    box-shadow: rgba(0,0,0,0.35) 2px 4px 8px;
    background-color: #507a6c;
    height: 60px;
}